<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="logPrefix" value="dao." />
	</settings>

	<!--<typeAliases> </typeAliases> <mappers> &lt;!&ndash; add xml config &ndash;&gt; 
		<mapper resource="mybatis/MatchingProductMapper.xml" /> </mappers> -->

</configuration>
